# 5. Now Do it Yourself Business Intelligence on Oracle OpenWorld & CodeOne Sessions Data

Our sessions data mart contains a thoroughly wrangled conference session data set with some 30 features we can use to anwer questions and find out more about the workings of Oracle OpenWorld and CodeOne. The data is loaded from our local data warehouse - the file `oow2018-sessions-datamart.json` that is produced by the notebook <a href="./4-OOW2018 Session Catalog - Business Intelligence Sessions.ipynb">4-OOW2018 Session Catalog - Business Intelligence Sessions.ipynb</a>. 

In this notebook, you can use that data set to do some data exploration of your own (and on your own).

## Load Datamart
We will load the sessions data mart into a Pandas Data Frame. Then you do your thing.

In [2]:
import pandas as pd
import ipywidgets as widgets
from ipywidgets import interact, interact_manual

#load session data from JSON file
dataMart = "datamart/"
ss= pd.read_json("{0}oow2018-sessions-datamart.json".format(dataMart))
#show first five rows in the dataframe
ss.head(5)

,abstract,attributevalues,catalog,code,event,eventCode,files,length,participants,sponsors,...,session_datetime,primary_track,secondary_track,trackCount,oracle_session_indicator,file_indicator,designation_weight,hour,dayOfConference,venue
0,What if you could benefit from new database qu...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4070,Oracle OpenWorld,oow18,"[{'fileId': '1540594881063001PjdE', 'filename'...",45,[{'speakerId': '14574694377280015QNA_150393630...,None,...,1540379700000,- Application Development,Oracle Cloud Platform,4,1,1,0.00,11,3,Moscone West
1,How does a real-world performance engineer int...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN4026,Oracle OpenWorld,oow18,"[{'fileId': '1540053090863001JeFM', 'filename'...",45,[{'speakerId': '145746969078000151fg_150393630...,None,...,1540223100000,- Application Development,Oracle Cloud Platform,5,1,1,0.00,15,1,Moscone West
10,In this session learn how to make client data ...,"[{'value': 'Beginner', 'attributevalue_id': '1...",oow,TRN6449,Oracle OpenWorld,oow18,"[{'fileId': '1540334126918001DZZj', 'filename'...",45,[{'speakerId': '1500578268510001KsST_150393630...,None,...,1540309500000,,,0,1,1,0.25,15,2,Moscone West
100,In this session learn how to transfer your st...,"[{'value': 'Product Training Session', 'attrib...",oow,TRN6527,Oracle OpenWorld,oow18,None,20,[{'speakerId': '14664511836130012Qxc_150393630...,None,...,1540398300000,,,0,1,0,0.00,16,3,The Exchange @ Moscone South
1000,With Java Flight Recorder (JFR) and Java Missi...,"[{'value': 'Intermediate', 'attributevalue_id'...",codeone,DEV5490,Oracle Code One,oow18,None,45,[{'speakerId': '14574694362910015Agr_150393630...,None,...,1540294200000,Developer Community,Development Tools,3,0,0,0.25,11,2,Moscone West

The session timestamp was saved to the JSON file as the number of miliseconds since the epoch. We need to convert that number back to a datetime in order to do proper analysis with it.

In [4]:
from datetime import datetime, date

import math

def deriveDateTimeFromEpochMS(ts):
    try:    
        if (isinstance(ts,float)):
            result = datetime.fromtimestamp(ts/1000.0)
            return result
        if (isinstance(ts,datetime)):
            return ts
    except:
        return datetime(2018, 10, 27, 12, 0)

ss['session_datetime']=ss['session_timestamp'].apply(deriveDateTimeFromEpochMS)

## Your Data Exploration, Analysis and Visualization
Some of useful commands:
* `ss.columns`
* `ss.shape`
* `ss.dtypes`
* `pd.crosstab(index=ss['<column name used for rows>'], columns=ss['<column name used for columns in cross tablle>'])`